:root {
  --cell-side: 5rem;
}
.App {
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content:center;
  align-items: center; 
  background-color: antiquewhite;
}

.board {
  height: calc(var(--cell-side) * 8);  
  width: calc(var(--cell-side) * 8);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid black;
  border-radius: 2px;
}

.board.currentBlack, .board.currentBlack .square {
  transform: rotate(180deg);
}

.square {
  height: var(--cell-side);  
  width: var(--cell-side);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img {
  width: calc(var(--cell-side)/1.5);
  height: calc(var(--cell-side)/1.5);
  position: relative;
}

/* .board.currentBlack .square img {
  transform: rotate(180deg);
} */

.black {
  background-color: #364549;
}
.white {
  background-color: #cbdbdf;
}
.accessible {
  height: calc(var(--cell-side)/4);
  width: calc(var(--cell-side)/4);
  border-radius: 50%;
  background-color: #22c0a3;
}
.selected {
  background-color: rgb(64, 224, 141);
}
.attackable {
  background-color: rgb(170, 137, 54);
}
.active:hover {
  background-color: aquamarine !important;
}

@media only screen and (max-width: 600px) {
  :root {
    --cell-side: 10vw;
  }
}